// Colors
$color_pending: pink;
$color_focus: deeppink;
$color_focus_alt: yellow;

$color_white: #fff;
$color_black: #000;
$color_blue: #0077cc;
$color_yellow: #ffe62d;
$color_red: #e92929;
$color_brown: #5c3613;

$color_title: $color_black;
$color_text: $color_black;
$color_link: $color_blue;



// dimensions
$dim_sitewidth: 1240;
$dim_radius: 0;
$dim_margin: 20;





// Fonts
$font_fallback: arial, sans-serif;
$font_text: 'Ubuntu', $font_fallback;
$font_data:  'Ubuntu Condensed', $font_fallback;
$font_size: 16;
$font_line_height: 130%;

$font_light: 300;
$font_regular: 400;
$font_medium: 500;






// Effects
$time_transition: .5s;





// Paths
$theme: '../img/layout/';





// Levels
$levels: background, footer, content, header;





// BreakPoints
$bp_mobile: 320;
$bp_tablet: 768;
$bp_desktop: 1024;
$bp_desktop_hd: $dim_sitewidth + ( $dim_margin * 2 );
