header#header.page__header
	.wrapper
		form.filter-bar.filter-bar--hidden.js__filter-bar
			input.filter-bar__field.js__filter-field(placeholder="Filtra pokemons por nombre...", title="Filtra Pokemons por nombre")
