// > IMPORTS
// >> Core
@import 'core/variables';
@import 'core/functions';
@import 'core/mixins';
@import 'core/placeholders';
@import 'core/common';
@import 'core/fonts';
//@import 'core/debug';





// >> Vendors





// >> Components
@import 'components/typography';
@import 'components/buttons';
@import 'components/navigation';
@import 'components/forms';





// >> Layout
@import 'layout/layout';
@import 'layout/header';
@import 'layout/footer';





// >> Pages
@import 'pages/home';

.pokemon__list-wrapper {
	margin: 0 auto;
	width: 70%;
}
.pokemon__list {
	@extend %unlist;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 rem(-10);
}

.pokemon__item {
	border: 1px solid mix(white,grey, 70%);
	width: rem(96);
	margin: rem(10) rem(10);
	width: rem(96);
}
.pokemon__item--pending {
	.pokemon__pic {
		background: pink;
	}
}

.pokemon__pic {
	height: rem(96);
}

.pokemon__info {
	@extend %unlist;
	padding: rem(5);
}
.pokemon__info-name {
	text-transform: capitalize;
}
