header#header.page__header
	.wrapper (Header)
		form.filter-bar.filter-bar--hidden.js__filter-bar
			input.filter-bar__field.js__filter-field(placehoder="Filtra Pokemons por nombre", title="Filtra Pokemons por nombre")
