extends layouts/main.pug

block vars
	- var lang = 'es'
	- var template = 'tpl__pikapika'
	- var page = 'pikapika'
	- var pageTitle = 'PokeDex'


block main
	section.pokemon
		.wrapper
			div.pokemon__list-wrapper.js__pokemon-list-wrapper
